* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 90%;
}

main {
    width: 90%;
}

header #images {
    margin-top: 0;
}

#brands {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

#brands img {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

#brands img:hover {
    transform: scale(110%);
}

.banner {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;;
}

#sales {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    margin-top: 15px;
    grid-gap: 10px;
    width: 99%;
}

#sales img {
    -webkit-box-shadow: 0px 10px 8px -7px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 10px 8px -7px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 10px 8px -7px rgba(34, 60, 80, 0.2);
    transition: 0.15s ease-in-out;
    cursor: pointer;
}

#sales img:hover {
    transform: scale(105%);
    filter: brightness(105%);
}

#articles {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

#articles > div {
    max-width: 450px;
    cursor: pointer;
    transition: 0.2s ease;
    padding: 11px;
}

#articles > div:hover {
    transform: scale(102%);
    border: solid 1px;
    box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.title {
    margin-top: 50px;
    font-size: 15pt;
}

.title:last-of-type:after {
    content: "";
    display: block;
    background-color: gray;
    width: 96%;
    height: 1px;
}

.article_image {
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.category {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.date {
    margin-top: 5px;
    color: gray;
}

.category p {
    background-color: black;
    color: white;
    padding: 2px 10px;
}

#offers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 50px;
}

#offers img {
    display: block;
    width: 100%;
    transition: 0.15s ease;
    cursor: pointer;
}

#offers img:hover {
    transform: scale(105%);
}

#title {
    text-align: center;
    margin-top: 20px;
    font-size: 20pt;
}

.btn {
    display: block;
    max-width: 150px;
    font-size: 15pt;
    background-color: gray;
    padding: 5px 10px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    transition: 0.1s ease;
    cursor: pointer;
    border: solid gray 2px;
}

.btn:hover {
    text-decoration: underline;
    border: solid 2px;
}

.btn:active {
    background-color: black;
    color: white;
}
